.___pycache__
___pycache__
._best_model
._dict_label_to_num.pkl
._dict_num_to_label.pkl
._inference.py
._load_data.py
._logs
._prediction
._requirements.txt
._results
._train.py
.idea/
P2_Code.ipynb
best_model/
dict_label_to_num.pkl
dict_num_to_label.pkl
prediction/
results/
test.ipynb
test.py
wandb/
.kor_to_eng_train_0_100.npy
.kor_to_eng_train_0_32470.npy
.kr_title.npy
MyTrainer.py
__pycache__/
focal_loss.py
load_data_ire.py
model.py
nohup.out
requirements.txt
test.csv
test_with_stopwords.csv
*.out